@{
    ViewData["Title"] = "About";
    int x = 10;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>E-mail: @ViewData["Email"]</p>
<p>O valor de x: @x</p>
